[
    {
        "scope": "https://api.github.com:443",
        "method": "GET",
        "path": "/users/leriksen",
        "body": "",
        "status": 200,
        "response": {
            "login": "leriksen",
            "id": 441543,
            "node_id": "MDQ6VXNlcjQ0MTU0Mw==",
            "avatar_url": "https://avatars2.githubusercontent.com/u/441543?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/leriksen",
            "html_url": "https://github.com/leriksen",
            "followers_url": "https://api.github.com/users/leriksen/followers",
            "following_url": "https://api.github.com/users/leriksen/following{/other_user}",
            "gists_url": "https://api.github.com/users/leriksen/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/leriksen/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/leriksen/subscriptions",
            "organizations_url": "https://api.github.com/users/leriksen/orgs",
            "repos_url": "https://api.github.com/users/leriksen/repos",
            "events_url": "https://api.github.com/users/leriksen/events{/privacy}",
            "received_events_url": "https://api.github.com/users/leriksen/received_events",
            "type": "User",
            "site_admin": false,
            "name": "Leif Eriksen",
            "company": null,
            "blog": "",
            "location": "Bendigo, Victoria, Australia",
            "email": null,
            "hireable": true,
            "bio": null,
            "public_repos": 69,
            "public_gists": 23,
            "followers": 0,
            "following": 1,
            "created_at": "2010-10-16T04:00:16Z",
            "updated_at": "2019-12-25T07:43:24Z"
        },
        "rawHeaders": [
            "Wed, 25 Dec 2019 08:04:25 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "chunked",
            "close",
            "GitHub.com",
            "Status",
            "200 OK",
            "X-RateLimit-Limit",
            "60",
            "X-RateLimit-Remaining",
            "50",
            "X-RateLimit-Reset",
            "1577264198",
            "public, max-age=60, s-maxage=60",
            "ETag",
            "W/\"cfeede705f92c7a81c5993b15a1f4fb3\"",
            "Last-Modified",
            "Wed, 25 Dec 2019 07:43:24 GMT",
            "X-GitHub-Media-Type",
            "github.v3; format=json",
            "ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type",
            "*",
            "max-age=31536000; includeSubdomains; preload",
            "deny",
            "nosniff",
            "1; mode=block",
            "origin-when-cross-origin, strict-origin-when-cross-origin",
            "default-src 'none'",
            "C7AB:60EC:1042B6B:12568AE:5E031808"
        ]
    }
]