[
    {
        "scope": "https://steamcommunity.com:443",
        "method": "GET",
        "path": "/market/priceoverview/?appid=578080&country=DE&currency=3&market_hash_name=GAMESCOM%20INVITATIONAL%20CRATE",
        "body": "",
        "status": 200,
        "response": {
            "success": true,
            "lowest_price": "0,27€",
            "volume": "435",
            "median_price": "0,27€"
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "Last-Modified",
            "Sat, 23 Mar 2019 11:41:15 GMT"
        ]
    }
]