[
    {
        "scope": "https://api.github.com:443",
        "method": "GET",
        "path": "/users/edorivai",
        "body": "",
        "status": 200,
        "response": {
            "login": "edorivai",
            "id": 765358,
            "node_id": "MDQ6VXNlcjc2NTM1OA==",
            "avatar_url": "https://avatars3.githubusercontent.com/u/765358?v=4",
            "gravatar_id": "",
            "url": "https://api.github.com/users/edorivai",
            "html_url": "https://github.com/edorivai",
            "followers_url": "https://api.github.com/users/edorivai/followers",
            "following_url": "https://api.github.com/users/edorivai/following{/other_user}",
            "gists_url": "https://api.github.com/users/edorivai/gists{/gist_id}",
            "starred_url": "https://api.github.com/users/edorivai/starred{/owner}{/repo}",
            "subscriptions_url": "https://api.github.com/users/edorivai/subscriptions",
            "organizations_url": "https://api.github.com/users/edorivai/orgs",
            "repos_url": "https://api.github.com/users/edorivai/repos",
            "events_url": "https://api.github.com/users/edorivai/events{/privacy}",
            "received_events_url": "https://api.github.com/users/edorivai/received_events",
            "type": "User",
            "site_admin": false,
            "name": "Edo Rivai",
            "company": "Spot AI",
            "blog": "https://null.house/en",
            "location": "Vienna",
            "email": null,
            "hireable": null,
            "bio": "Web developer at Spot AI. Preferred stack: React, NodeJS, Typescript, Kubernetes.",
            "public_repos": 46,
            "public_gists": 5,
            "followers": 10,
            "following": 1,
            "created_at": "2011-05-03T10:07:39Z",
            "updated_at": "2019-12-23T15:32:49Z"
        },
        "rawHeaders": [
            "Wed, 25 Dec 2019 08:04:24 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "chunked",
            "close",
            "GitHub.com",
            "Status",
            "200 OK",
            "X-RateLimit-Limit",
            "60",
            "X-RateLimit-Remaining",
            "51",
            "X-RateLimit-Reset",
            "1577264198",
            "public, max-age=60, s-maxage=60",
            "ETag",
            "W/\"86668be346dd6d907b6a8d6808606635\"",
            "Last-Modified",
            "Mon, 23 Dec 2019 15:32:49 GMT",
            "X-GitHub-Media-Type",
            "github.v3; format=json",
            "ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type",
            "*",
            "max-age=31536000; includeSubdomains; preload",
            "deny",
            "nosniff",
            "1; mode=block",
            "origin-when-cross-origin, strict-origin-when-cross-origin",
            "default-src 'none'",
            "C7AA:60EC:1042B5A:125689A:5E031808"
        ]
    }
]